* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: lightgrey;
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
}

.img img {
    width: 100%;
}

.reseña {
    width: 90%;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.reseña p {
    display:inline-block;
    width: 50%;
    margin: 30px;
    float:left;  
}

.reseña img {
    display: inline-block;
    height: 200px;
    width: 300px;
    margin-right: 140px;
    margin-left: 20px;
    float:right;
}

.container {
    display: grid;
    gap: 50px;
    grid-template-columns: minmax(320px, auto);
    grid-template-rows: repeat(6, 1fr);
    height: 1000px;
}

.caracteristicas {
    text-align: center;
    margin: 1em 0;
    padding: 2em;
    background-color: dimgray; 
}

.caracteristica {
    width: 30%;
    padding: 1%;
    display: inline-block;
}

.caracteristicas h2 {
    margin-bottom: 15px;
}

.caracteristicas i {
    padding: 20px;
}


.imagenes {
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.imagenes img{
    width: 30%;
    height: 250px;
    display: inline-block;
    align-content: center;
    margin: 10px;
}


footer {
    height: 1em;
    width: 100%;
    background-color: dimgray;
    text-align: center;
    padding: 1em;
    font-size: small;
    }

footer a {
    color: lightgrey;
}

footer a:hover {
    color: lightskyblue;
}